---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Konstantin Ronenko
  </div>

  <div class="inline opacity-75">
    Linux System Administrator | Monitoring | Zabbix | Automation
  </div>
</footer>

<style></style>
